.side-nav {
    width: 250px;
    height: 100vh;
    background: #333;
    padding: 20px;
    z-index: 1;

    h2 {
        color: #fff;
        text-align: center;
        padding: 20px 0;
        margin-top: 60px;
    }

    .side-nav-links {
        padding: 20px 0;
        margin-top: 20px;
    }
}