@page "/airport"

<div class="airport-page">
    <h2>By Airport</h2>
    <InputSearch OnSelection="@OnAirportSelected" /> 
    <FlightInfoCard />        
</div>

@code 
{
    public void OnAirportSelected(string airportId)
    {
        // Get Arrivals
        Console.WriteLine(airportId);
    }
}