@page "/airport"

<div class="airport-page">
    <h2>By Airport</h2>
    <InputSearch /> 
    <FlightInfoCard />        
    <FlightInfoCard />        
    <FlightInfoCard />        
    <FlightInfoCard />    
</div>
    

@code 
{

}