<div class="flight-info-card">
    <div class="image">
        <img src="assets/images/ac.svg" alt="">
    </div>
    <div class="airline">Air Canada</div>
    <div class="status">ON TIME</div>
    <div class="flight-number">AC1224</div>
    <div class="from-to">
        <div class="from">
            <div>5:30pm</div>
            <div>XYS</div>
        </div>
        <div>-</div>
        <div class="to">
            <div>7:20pm</div>
            <div>VYR</div>
        </div>
    </div>
</div>

@code 
{

}