<div class="side-nav">
    <h2>Flight Tracker</h2>
    <div class="side-nav-links">
        <NavLink class="nav-link white" href="airport" Match="NavLinkMatch.All">
            Flight By Airport
        </NavLink>
    </div>
</div>
